*
  margin: 0
  padding: 0

nav#menu
  font-size: x-large
  background-color: #ffffff
  border-right: solid #eeeeff
  height: 100%
  left: 0
  margin: 0
  padding: 20px 0px 0px 20px
  position: fixed
  top: 0
  width: 140px

h1.title
  font-size: large
  border-bottom: 1px solid rgba(180, 180, 255, 0.4)
  padding-bottom: 5px

h2.post-title
  font-size: xx-large
main
  height: 100%
  margin-left: 160px
  padding: 10px 10px 10px 20px

header
  height: 100%
  margin-left: 160px
  padding: 10px 10px 10px 20px

a.headerlink
  font-size: x-small

ul,ol,dl
  padding: 5px
  padding-left: 25px

strong.passion
  letter-spacing: 0.5em

strong,em,b
  -webkit-text-emphasis: filled dot
  text-emphasis: filled dot
  font-weight: normal
  font-style: normal

p
  padding: 5px

#section
  border-bottom: 1px solid rgba(180, 180, 255, 0.4)

dt~dt
  border-top: 1px solid rgba(180, 180, 255, 0.3)

dd~dt
  padding-top: 4px

a
  &:link
    color: #0055ff
    text-decoration: none
  &:visited
    color: #0044ff
    text-decoration: none
  &:hover
    color: #0077ff
    text-decoration: underline
